body {
    text-align: center;
    font-family: "Arial";
    background-color: aqua;
    color: brown;
}
#container{
    width: 50%;
    padding: 1em;
    text-align: center;
    border: 1px;
    background-color: antiquewhite;
    
}